@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

html {
    background-color: #20243a;
    margin: 0;
    height: 100%;
}
body {
    background:
    radial-gradient(40% 130% at bottom left, #0d2646 10%, transparent 80%),
    radial-gradient(130% 40% at bottom, #3b0b36 10%, #010817 80%);
    height: 100%;
    margin:0;
    padding: 1%;
    font-family: "Kode Mono", monospace;
}
.project_showcase { 
    color: whitesmoke;
    cursor: pointer;
    opacity: 0%;
    font-size: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.05rem solid whitesmoke;
    border-radius: 25px;
    margin: 1%;
    padding: 5%;
    transition: opacity 1s ease-in, margin 0.5s ease-out;
} .project_showcase:hover { margin: 0.5%;}
#goBackButton {
    z-index: 2;
    position: fixed;
    top: 2%; left: 2%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white; font-size: 25px; font-family: "Kode Mono", monospace;
    background-image:  linear-gradient(to right,#0d2646, #3b0b36);
    border: solid white 2px;
    border-radius: 25px;
    padding: 5px; padding-right: 10px;
} #goBackButton:hover {border-color: pink;}
#backArrow_SVG {margin-right: 15px;}